# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
env/
ENV/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# MyPy / Ruff / other static analysis
.mypy_cache/
.ruff_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# dotenv environment files
.env
.env.*

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Docker
**/.docker/

# Local databases
*.sqlite3


# Generated lock files (can be reproduced)
uv.lock

# Mac & Windows junk files
.DS_Store
Thumbs.db
